<!DOCTYPE html>
<html>
<body>
    <h1>Vaguefy test messages</h1>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Hello!

The Berkman Center for Internet & Society at Harvard University has
opened our yearly call for fellowship applications. This opportunity is
for colleagues who wish to spend the 2014-2015 academic year in
residence in Cambridge, MA as part of Berkman's community of pioneers,
and who seek to deeply engage in the collaborative, cross-disciplinary,
and cross-sectoral exploration of some of the Internet's most
interesting, challenging, and compelling issues.

We invite applications from individuals from around the globe working on
a broad range of opportunities and challenges related to Internet and
society, which may overlap with ongoing work at Berkman or will expose
us to new opportunities and approaches. We encourage applications from a
diverse group of scholars, practitioners, innovators, artists, and
others committed to understanding and advancing the public interest.

The application deadline is Sunday December 8, 2013 at 11:59 p.m.
Eastern Time, and applications will be **submitted online through our
Application Tracker tool at:
https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3
<https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3>

More information about this call for applications may be found below and
at http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015
<http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015>.

More information about the Berkman Center Fellowship Program may be
found at http://cyber.law.harvard.edu/getinvolved/fellowships
<http://cyber.law.harvard.edu/getinvolved/fellowships>.

A Fellowship Program FAQ may be found at
http://cyber.law.harvard.edu/getinvolved/fellowships/faq
<http://cyber.law.harvard.edu/getinvolved/fellowships/faq>.

Through this annual open call, we seek to advance our collective work
and give it new direction, and to deepen and broaden our networked
community across backgrounds, disciplines, cultures, and nations.  We
welcome you to read more about the program below, to share this
announcement with your networks, and to apply!

With excitement,
Becca
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Hello!

The Berkman Center for Internet & Society at Harvard University has
opened our yearly call for fellowship applications. This opportunity is
for colleagues who wish to spend the 2014-2015 academic year in
residence in Cambridge, MA as part of Berkman's community of pioneers,
and who seek to deeply engage in the collaborative, cross-disciplinary,
and cross-sectoral exploration of some of the Internet's most
interesting, challenging, and compelling issues.

We invite applications from individuals from around the globe working on
a broad range of opportunities and challenges related to Internet and
society, which may overlap with ongoing work at Berkman or will expose
us to new opportunities and approaches. We encourage applications from a
diverse group of scholars, practitioners, innovators, artists, and
others committed to understanding and advancing the public interest.

The application deadline is Sunday December 8, 2013 at 11:59 p.m.
Eastern Time, and applications will be **submitted online through our
Application Tracker tool at:
https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3
<https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3>

More information about this call for applications may be found below and
at http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015
<http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015>.

More information about the Berkman Center Fellowship Program may be
found at http://cyber.law.harvard.edu/getinvolved/fellowships
<http://cyber.law.harvard.edu/getinvolved/fellowships>.

A Fellowship Program FAQ may be found at
http://cyber.law.harvard.edu/getinvolved/fellowships/faq
<http://cyber.law.harvard.edu/getinvolved/fellowships/faq>.

Through this annual open call, we seek to advance our collective work
and give it new direction, and to deepen and broaden our networked
community across backgrounds, disciplines, cultures, and nations.  We
welcome you to read more about the program below, to share this
announcement with your networks, and to apply!

With excitement,
Becca
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Some takeaways:

- More than half (60%) the people that come to our website leave
without going to another page (called 'bouncing').  However these
users spend more time than any other user per page.
- Non-bouncing users had an average of just over 4 pages per session
but spent about an average of 0.86/s per page.  They spend most of
their time on the last page.

>From these I think we can take away that most people come looking for
something very specific.
How can we fix this? Better search maybe?  Improved navigation bar?
Its up to you to work on this.

- New users spend a lot *less* time on the site than repeat visitors.

Do we need better advocacy data?  Less text to confuse new users?  Is
this trend specific to FreeBSD or is it true across the board?

- Internet Explorer is 10% of our traffic.

Many of ours users use Windows as there primary desktop platform.
Probably more if we include not-IE on Windows.

What other insights do you see?
What other data might be helpful for us?

--
Eitan Adler
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Some takeaways:

- More than half (60%) the people that come to our website leave
without going to another page (called 'bouncing').  However these
users spend more time than any other user per page.
- Non-bouncing users had an average of just over 4 pages per session
but spent about an average of 0.86/s per page.  They spend most of
their time on the last page.

>From these I think we can take away that most people come looking for
something very specific.
How can we fix this? Better search maybe?  Improved navigation bar?
Its up to you to work on this.

- New users spend a lot *less* time on the site than repeat visitors.

Do we need better advocacy data?  Less text to confuse new users?  Is
this trend specific to FreeBSD or is it true across the board?

- Internet Explorer is 10% of our traffic.

Many of ours users use Windows as there primary desktop platform.
Probably more if we include not-IE on Windows.

What other insights do you see?
What other data might be helpful for us?

--
Eitan Adler
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Dear Hispanic/Latino student,

Thank you for confirming your attendance to the Hispanic Heritage Month
Closing and Faculty Dinner this Wednesday, October 9th. We are very
excited that you and your guest will join us! The event will take place
from 6:30 to 8:00 p.m. in the Student Center Ballroom and there will be an
additional 30-minute session of networking and socializing for those who
would like to stay longer. Authentic Latin food from Mi Pilon Restaurant
will be served. This event, hosted by Hispanic Scholarship Fund (HSF-GT),
is a unique opportunity to meet other Hispanic/Latino students, faculty
and staff; to establish more personal relationships among participants;
and, to enjoy a relaxed environment for exchanging ideas and thoughts. The
guest speaker is Mr. Jay Flores, SHPE Region 7 Vice President. Attire is
business casual.

Please note that only you and the guest you invited by the registration
deadline will be able to attend the event. Seating is limited and food has
been ordered based on the number of people who RSVPd, so please don't
promote the event or invite others.

Hispanic Heritage Month 2013 is sponsored by Parents Fund for Student Life
& Leadership, Lockheed Martin, Hispanic Initiatives (OHI), OMED:
Educational Services, and the VPID Office.

We look forward to seeing you on Wednesday!

Sincerely,
Jorge

Jorge Breton, M.S.
Director, Hispanic Initiatives
Georgia Institute of Technology
Office of the Vice President for Institute Diversity
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Dear Hispanic/Latino student,

Thank you for confirming your attendance to the Hispanic Heritage Month
Closing and Faculty Dinner this Wednesday, October 9th. We are very
excited that you and your guest will join us! The event will take place
from 6:30 to 8:00 p.m. in the Student Center Ballroom and there will be an
additional 30-minute session of networking and socializing for those who
would like to stay longer. Authentic Latin food from Mi Pilon Restaurant
will be served. This event, hosted by Hispanic Scholarship Fund (HSF-GT),
is a unique opportunity to meet other Hispanic/Latino students, faculty
and staff; to establish more personal relationships among participants;
and, to enjoy a relaxed environment for exchanging ideas and thoughts. The
guest speaker is Mr. Jay Flores, SHPE Region 7 Vice President. Attire is
business casual.

Please note that only you and the guest you invited by the registration
deadline will be able to attend the event. Seating is limited and food has
been ordered based on the number of people who RSVPd, so please don't
promote the event or invite others.

Hispanic Heritage Month 2013 is sponsored by Parents Fund for Student Life
& Leadership, Lockheed Martin, Hispanic Initiatives (OHI), OMED:
Educational Services, and the VPID Office.

We look forward to seeing you on Wednesday!

Sincerely,
Jorge

Jorge Breton, M.S.
Director, Hispanic Initiatives
Georgia Institute of Technology
Office of the Vice President for Institute Diversity
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Stacey:

The Gas Risk group is requesting that we preserve only a specified list of curves/pub codes for
NetCo/UBS, and to delete the rest of the curves from TAGG/ERMS.

Please provide a list of Natural Gas curves/pub. codes that you would like to preserve in NetCo/UBS.

I am attaching the list of Natural Gas curves to preserve that Kam provided, for your reference:



Thanks,
Jeremy
x3-0573
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Stacey:

The Gas Risk group is requesting that we preserve only a specified list of curves/pub codes for
NetCo/UBS, and to delete the rest of the curves from TAGG/ERMS.

Please provide a list of Natural Gas curves/pub. codes that you would like to preserve in NetCo/UBS.

I am attaching the list of Natural Gas curves to preserve that Kam provided, for your reference:



Thanks,
Jeremy
x3-0573
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Murray, thanks for your interest in leveraging the Gutenberg work. Here's the draft Overview. The visio documents are not the most current, but I've asked the consultants to produce a binder this morning and also e-mail you all of the most current process flows as well as the Pricing and Booking disconnect detail you requested.

I 'd like very much to learn more how you would see expediting progress through the EWS processes and tools, and hope you'll work with us as soon as possible to see what might be possible.

Glenn
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Murray, thanks for your interest in leveraging the Gutenberg work. Here's the draft Overview. The visio documents are not the most current, but I've asked the consultants to produce a binder this morning and also e-mail you all of the most current process flows as well as the Pricing and Booking disconnect detail you requested.

I 'd like very much to learn more how you would see expediting progress through the EWS processes and tools, and hope you'll work with us as soon as possible to see what might be possible.

Glenn
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Dear Student Groups,

Please see the important announcement below about CAC space reservation books
which are opening to all groups today:

-----------------

Monday, November 30, 2009 at 9 am will open the reservation books for the Campus
Activities Complex from July 1, 2010 to June 30, 2011.

This is the best time to get space for your event.

This is the time for your group to book:
*        Rehearsals
*        Parties
*        Regular weekly meetings
*        Lectures
*        Cultural Events
*        Conferences
*        Performances

This process will be similar to last year.  For more details, please see
the document at: http://web.mit.edu/asa/resources/pdf/OpeningoftheBooks.pdf
This process is virtual, so you will be using your virtual scheduling account.

If you have any questions or concerns, please contact campus-activities at mit.edu.

---------------------------------------

Also, initial application categorizations for the current Space Allocation cycle
will be out soon.  The ASA Executive Board has been working hard on them for the
past week and only has a few parts still to work out, but wants to make sure
they're done in a way that matches the guiding philosophy as best as possible.
Watch your inbox for these soon.

(Note: these are just categorizations, actual assignments will be released at
the end of the semester. This process is explained in detail in the ASA
Operating Guidelines at:
http://web.mit.edu/asa/rules/pdf/ASA-Operating-Guidelines.pdf)

    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Dear Student Groups,

Please see the important announcement below about CAC space reservation books
which are opening to all groups today:

-----------------

Monday, November 30, 2009 at 9 am will open the reservation books for the Campus
Activities Complex from July 1, 2010 to June 30, 2011.

This is the best time to get space for your event.

This is the time for your group to book:
*        Rehearsals
*        Parties
*        Regular weekly meetings
*        Lectures
*        Cultural Events
*        Conferences
*        Performances

This process will be similar to last year.  For more details, please see
the document at: http://web.mit.edu/asa/resources/pdf/OpeningoftheBooks.pdf
This process is virtual, so you will be using your virtual scheduling account.

If you have any questions or concerns, please contact campus-activities at mit.edu.

---------------------------------------

Also, initial application categorizations for the current Space Allocation cycle
will be out soon.  The ASA Executive Board has been working hard on them for the
past week and only has a few parts still to work out, but wants to make sure
they're done in a way that matches the guiding philosophy as best as possible.
Watch your inbox for these soon.

(Note: these are just categorizations, actual assignments will be released at
the end of the semester. This process is explained in detail in the ASA
Operating Guidelines at:
http://web.mit.edu/asa/rules/pdf/ASA-Operating-Guidelines.pdf)

    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
    </div>

</body>
</html>
