<!DOCTYPE html>
<html>
<body>
    <h1>Vaguefy test messages</h1>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
        Hello!

The Berkman Center for Internet & Society at Harvard University has
opened our yearly call for fellowship applications. This opportunity is
for colleagues who wish to spend the 2014-2015 academic year in
residence in Cambridge, MA as part of Berkman's community of pioneers,
and who seek to deeply engage in the collaborative, cross-disciplinary,
and cross-sectoral exploration of some of the Internet's most
interesting, challenging, and compelling issues.

We invite applications from individuals from around the globe working on
a broad range of opportunities and challenges related to Internet and
society, which may overlap with ongoing work at Berkman or will expose
us to new opportunities and approaches. We encourage applications from a
diverse group of scholars, practitioners, innovators, artists, and
others committed to understanding and advancing the public interest.

The application deadline is Sunday December 8, 2013 at 11:59 p.m.
Eastern Time, and applications will be **submitted online through our
Application Tracker tool at:
https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3
<https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3>

More information about this call for applications may be found below and
at http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015
<http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015>.

More information about the Berkman Center Fellowship Program may be
found at http://cyber.law.harvard.edu/getinvolved/fellowships
<http://cyber.law.harvard.edu/getinvolved/fellowships>.

A Fellowship Program FAQ may be found at
http://cyber.law.harvard.edu/getinvolved/fellowships/faq
<http://cyber.law.harvard.edu/getinvolved/fellowships/faq>.

Through this annual open call, we seek to advance our collective work
and give it new direction, and to deepen and broaden our networked
community across backgrounds, disciplines, cultures, and nations.  We
welcome you to read more about the program below, to share this
announcement with your networks, and to apply!

With excitement,
Becca
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
        Hello!

The Berkman Center for Internet & Society at Harvard University has
opened our yearly call for fellowship applications. This opportunity is
for colleagues who wish to spend the 2014-2015 academic year in
residence in Cambridge, MA as part of Berkman's community of pioneers,
and who seek to deeply engage in the collaborative, cross-disciplinary,
and cross-sectoral exploration of some of the Internet's most
interesting, challenging, and compelling issues.

We invite applications from individuals from around the globe working on
a broad range of opportunities and challenges related to Internet and
society, which may overlap with ongoing work at Berkman or will expose
us to new opportunities and approaches. We encourage applications from a
diverse group of scholars, practitioners, innovators, artists, and
others committed to understanding and advancing the public interest.

The application deadline is Sunday December 8, 2013 at 11:59 p.m.
Eastern Time, and applications will be **submitted online through our
Application Tracker tool at:
https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3
<https://cyber.law.harvard.edu/apply/jobs/11?apptracker_id=3>

More information about this call for applications may be found below and
at http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015
<http://cyber.law.harvard.edu/getinvolved/fellowships/opencall20142015>.

More information about the Berkman Center Fellowship Program may be
found at http://cyber.law.harvard.edu/getinvolved/fellowships
<http://cyber.law.harvard.edu/getinvolved/fellowships>.

A Fellowship Program FAQ may be found at
http://cyber.law.harvard.edu/getinvolved/fellowships/faq
<http://cyber.law.harvard.edu/getinvolved/fellowships/faq>.

Through this annual open call, we seek to advance our collective work
and give it new direction, and to deepen and broaden our networked
community across backgrounds, disciplines, cultures, and nations.  We
welcome you to read more about the program below, to share this
announcement with your networks, and to apply!

With excitement,
Becca
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
    </div>

    <h2>Message</h2>
    <h3>Original</h3>
    <div>
    </div>
    <h3>For Processing</h3>
    <div aria-label="Message Body">
    </div>

</body>
</html>
